{{#each recipes as |recipe|}}

  <div>
    <section data-id="{{recipe.id}}">
    <h1> <span class="title">{{limit recipe.name 20}}</span><i class="fas fa-seedling"></i></h1>
    {{#if recipe.description}}
      {{limit recipe.description 30}}
    {{else}}
      No description provided.
    {{/if}}<br>
      <strong>Created By:</strong> {{recipe.user.email}}
    <br>
    <!-- view trigger modal -->
<button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#Modal{{recipe.id}}">
  View
</button>

<!-- Modal -->
 <div class="modal fade" id="Modal{{recipe.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="Modal2{{recipe.id}}"><strong>{{recipe.name}}</strong></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <strong>Description:</strong> <br>{{recipe.description}}<br>
        <strong>Ingredients:</strong> <br>{{recipe.ingredients}}<br>
        <strong>Instructions:</strong> <br>{{recipe.instructions}}
        <br><br>
        <strong>Created By:</strong> {{recipe.user.email}} &hearts;
      </div>
    </div>
  </div>
</div>

<!--update modal-->
{{#if recipe.editable}}
<button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#modal_{{recipe.id}}">
Edit
</button>
{{/if}}

    <div class="modal fade" id="modal_{{recipe.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="#yo_{{recipe.id}}">Edit Recipe</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="update-recipe">
          <div class="form-group">
            <label>Name:</label>
            <input type="text" name="recipe[name]" class="form-control" placeholder="Name your recipe">
          </div>
          <div class="form-group">
            <label>Description:</label>
            <input type="text" name="recipe[description]" class="form-control" placeholder="Provide a short description">
          </div>
          <div class="form-group">
            <label>Ingredients:</label>
            <input type="text" name="recipe[ingredients]" class="form-control" placeholder="A list of ingredients">
          </div>
          <div class="form-group">
            <label>Instructions:</label>
            <input type="text" name="recipe[instructions]" class="form-control" placeholder="Instructions for your recipe">
          </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-outline-success update-btn">Save changes</button>
      </div>
      </form>
      </div>
    </div>
  </div>
</div>
<br>

{{#if recipe.editable}}
<button type="submit" class="btn btn-outline-danger remove">Delete</button>
  </section>
  </div>
{{/if}}

{{/each}}
